
body {
    background-image:"Basic_Portfolio/assets/images/silver_scales.png";
    background-repeat: repeat;
    background-size: fill;
}

.wrapper_index{
    display: block;
    width: 960px;
    justify-content: center;
}

h1{
    color: white;
    background-color: #4aaaa5;
}